/.idea
/.phpdoc
/.scribe
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
.secrets.baseline
Homestead.json
Homestead.yaml
composer.phar
phpdoc.xml
_ide_helper.php
.phpstorm.meta.php
*.log
*.code-workspace
