/* CSS Document */

/* General settings */

body {
	background-color: #F2F2F2;
}

p{
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

a:link {
	color: #06C;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #06C;
}
a:active {
	color: #06C;
	opacity: 0.5;
}
a:hover {
	color: #039;
	opacity: 0.5;
}
#zoom_container {
	float: left;
	margin-right: 20px;
}

#carte {
	width: 2592px;
	height: 1315px;
}

#menupays {
	float: left;
	width: 110px;
	height: 408px;
	background-color: #F2F2F2;
	padding: 15px;
	overflow: auto;
}
#menupays > a > img {
	margin: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}
.text {
	width: 110px;
}
/* smooth zoom settings */

.smooth_zoom_preloader {
	background-image: url(preloader.gif);
}
.smooth_zoom_icons {
	background-image: url(icons.png);
}
#zoom_container .landmarks {
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
font-size: 10px;
	color: rgba(85,85,85,1);
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
#zoom_container .landmarks a, #zoom_container .landmarks a:visited, #zoom_container .landmarks a:active {
	font-size: 10px;
	color: rgba(85,85,85,1);
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
#zoom_container .landmarks .item {
	position: absolute;
	text-align: center;
	display: none;
}
#zoom_container .landmarks .lable div {
	width: 100px;
	padding: 4px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
}
#zoom_container .landmarks .mark .text {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
}

#zoom_container .landmarks .ville .text {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebe8eb), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ebe8eb 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe8eb', endColorstr='#ffffff');
	background-color:#ebe8eb;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:2px solid #faa8a8;
	display:inline-block;
}

#zoom_container .landmarks .ville .text a{
	color:#777777;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

 @media (max-width: 1100px) {
/* Change menu vertical to horizontal */
#menupays {
	width: auto;
	height: auto;
	text-align: left;
	margin-left: 20px;
}
