/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/



/* Body and structure
-------------------------------------------------- */

body {
	position: relative;
	padding-top: 40px;
	text-align: justify;
}
/* Code in headings */
h3 code {
	font-size: 14px;
	font-weight: normal;
}

img {
	vertical-align: middle;
}

.align-left {
	text-align:left;
}
/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
	font-size: 12px;
	width: auto;
}
html > body > div.navbar.navbar-fixed-top > div.navbar-inner > div.container > div.nav-collapse.collapse > form.navbar-form.pull-right > input.span2 {
	width: 60px;
	font-size: 12px;
}
html > body > div.navbar.navbar-fixed-top > div.navbar-inner > div.container > div.nav-collapse.collapse > form.navbar-form.pull-right > button.btn {
	font-size: 12px;
}
/* Change the docs' brand */
body > .navbar .brand {
	padding-right: 0;
	padding-left: 0;
	margin-right: 20px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,.1), 0 0 30px rgba(0,0,0,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	display: none;
}
body > .navbar .brand:hover {
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.1), 0 0 30px rgba(0,0,0,.4);
}
.navbar-inner {
	background: rgb(48,109,44); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwNmQyYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iIzM5ODIzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgyJSIgc3RvcC1jb2xvcj0iIzhhYjY2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjOWRlOTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(48,109,44,1) 0%, rgba(57,130,53,1) 17%, rgba(138,182,107,1) 82%, rgba(201,222,150,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(48,109,44,1)), color-stop(17%, rgba(57,130,53,1)), color-stop(82%, rgba(138,182,107,1)), color-stop(100%, rgba(201,222,150,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(48,109,44,1) 0%, rgba(57,130,53,1) 17%, rgba(138,182,107,1) 82%, rgba(201,222,150,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(48,109,44,1) 0%, rgba(57,130,53,1) 17%, rgba(138,182,107,1) 82%, rgba(201,222,150,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(48,109,44,1) 0%, rgba(57,130,53,1) 17%, rgba(138,182,107,1) 82%, rgba(201,222,150,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(48,109,44,1) 0%, rgba(57,130,53,1) 17%, rgba(138,182,107,1) 82%, rgba(201,222,150,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#306d2c', endColorstr='#c9de96', GradientType=0 ); /* IE6-8 */
}
.navbar .nav > li > a, .navbar .nav > li > a:link {
	color: #fffcff;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 0px 1px #57702e;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active, .navbar .nav > li > a:visited {
	color: #fffcff;
	background-color: rgba(255,255,255,0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}
.navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret, html > body > div.navbar.navbar-fixed-top > div.navbar-inner > div.container > div.nav-collapse.collapse > ul.nav > li.dropdown.open > a.dropdown-toggle > b.caret {
	border-top-color: #a7a8a8;
	border-bottom-color: #a7a8a8;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:visited, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:active, .navbar .nav li.dropdown.open > .dropdown-toggle {
	color: #dadada;
	background-color: transparent;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #dadada;
	background-color: transparent;
}
.img-menu-drapeau {
	border-top-width: 1px;
	border-right-width-value: 1px;
	border-bottom-width: 1px;
	border-left-width-value: 1px;
	border-top-style: solid;
	border-right-style-value: solid;
	border-bottom-style: solid;
	border-left-style-value: solid;
	border-top-color: rgba(0, 0, 0, 0.2);
	border-right-color-value: rgba(0, 0, 0, 0.2);
	border-bottom-color: rgba(0, 0, 0, 0.2);
	border-left-color-value: rgba(0, 0, 0, 0.2);
	border-image-source: none;
	border-image-slice: 100% 100% 100% 100%;
	border-image-width: 1 1 1 1;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.textNavbar {
	display: inline-block;
	color: rgb(238,238,238);
	margin-top: 13px;
	padding-right: 5px;
}
/* Dropdown Double 
-------------------------------------------------- */
.dropdown-double {
	width: 580px;
}
.drop-colonne-gauche {
	float: left;
	width: 200px;
}
.drop-colonne-droite {
	float: right;
	width: 200px;
	position: relative;
	left: -80px;
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li.nav-header {
	width: 200px;
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li.divider {
	width: 200px;
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li, ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li > a, ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li > a:hover, ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li > a:active, ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li > a:link, ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li > a:visited {
	width: 200px;
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li.nav-header {
	width: 200px;
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li.divider {
	width: 200px;
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li, ul.dropdown-menu.dropdown-double > div.drop-colonne-droitee > li > a, ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li > a:hover, ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li > a:active, ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li > a:link, ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li > a:visited {
	width: 200px;
}
/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
	padding-top: 30px;
}
section > .page-header, section > .lead {
	color: #5a5a5a;
}
section > ul li {
	margin-bottom: 5px;
}
/* Separators (hr) */
.bs-docs-separator {
	margin: 40px 0 39px;
}
/* Faded out hr */
hr.soften {
	height: 1px;
	margin: 70px 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	border: 0;
}
/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
	position: relative;
	background-size: cover;
	background-position: center center;
	padding-top: 40px;
	padding-right: 0px;
	padding-bottom: 40px;
	padding-left: 0px;
	color: #ffffff;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2) inset, 0px -3px 7px rgba(0, 0, 0, 0.2) inset;
}
.jumbotron h1 {
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
}
.jumbotron p {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 30px;
}
/* Link styles (used on .masthead-links as well) */
.jumbotron a {
	color: #fff;
	color: rgba(255,255,255,.5);
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.jumbotron a:hover {
	color: #fff;
	text-shadow: 0 0 10px rgba(255,255,255,.25);
}
/* Download button */
.masthead .btn {
	padding: 14px 24px;
	font-size: 24px;
	font-weight: 200;
	color: #fff; /* redeclare to override the `.jumbotron a` */
	border: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.masthead .btn:hover {
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}
/* Pattern overlay
------------------------- */
.jumbotron .container {
	position: relative;
	z-index: 2;
	height: 300px;
	overflow: hidden;
}
#introheader .container {
	position: relative;
	z-index: 2;
	height: auto;
}
/* Masthead (docs home)
------------------------- */
.masthead {
	padding: 70px 0 80px;
	margin-bottom: 0;
	color: #fff;
}
.masthead h1 {
	font-size: 120px;
	line-height: 1;
	letter-spacing: -2px;
}
.masthead p {
	font-size: 40px;
	font-weight: 200;
	line-height: 1.25;
}
/* Textual links in masthead */
.masthead-links {
	margin: 0;
	list-style: none;
}
.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: rgba(255,255,255,.25);
}
/* Quick links on Home */
.bs-docs-social-buttons {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.bs-docs-social-buttons li {
	display: inline-block;
	padding: 5px 8px;
	line-height: 1;
 *display: inline;
 *zoom: 1;
}
/* Subhead (other pages)
------------------------- */
.subhead {
	text-align: left;
	border-bottom: 1px solid #ddd;
}
.subhead h1 {
	font-size: 60px;
}
.subhead p {
	margin-bottom: 20px;
}
.subhead .navbar {
	display: none;
}
/* STATS section of each country
-------------------------------------------------- */
#Bandeau_stats {
	position: relative;
	padding: 10px;
	bottom: 200px;
	font-size: 12px;
	margin-bottom: -200px;
	text-align: left;
}
#Bandeau_stats strong {
	font-weight: bolder;
}
#Bandeau_stats img {
	margin-bottom: 10px;
	padding : 2px;
	-moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
}
.cadre-bleu {
	background: rgb(150,194,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2YzJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzY4ODliMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NmMyZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 50%, rgba(150,194,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(150,194,255,1)), color-stop(50%, rgba(104,137,179,1)), color-stop(100%, rgba(150,194,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 50%, rgba(150,194,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 50%, rgba(150,194,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 50%, rgba(150,194,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 50%, rgba(150,194,255,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c2ff', endColorstr='#96c2ff', GradientType=0 ); /* IE6-8 */
	-moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	border: 1px solid #384d6a;
}
.cadre-bleu h3 {
	color: #fffcff;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 15px;
	text-shadow: 0px 0px 1px #57702e;
}
/* Carte generale
-------------------------------------------------- */
.titrecarte h1 {
	margin-top: 20px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	color: rgb(250,250,250);
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
}

/* Cadre dernières commentaires
-------------------------------------------------- */

.lastComments{
	position:relative;
	height:500px;
	overflow: auto;
}

.mur{
	position:relative;
	height:900px;
	overflow: auto;
}


/* Cadre dernières villes
-------------------------------------------------- */
.last-villes {
	background: rgb(150,194,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2YzJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzY4ODliMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NmMyZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 50%, rgba(150,194,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(150,194,255,1)), color-stop(50%, rgba(104,137,179,1)), color-stop(100%, rgba(150,194,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 50%, rgba(150,194,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 50%, rgba(150,194,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 50%, rgba(150,194,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 50%, rgba(150,194,255,1) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c2ff', endColorstr='#96c2ff', GradientType=0 ); /* IE6-8 */
	-moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #384d6a;
}
.last-villes p {
	text-align: left;
	padding-left : 5px;
}



/* Liste villes page pays
-------------------------------------------------- */
.cadre-ville {
	background: rgb(150,194,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2YzJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ODg5YjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(150,194,255,1)), color-stop(100%, rgba(104,137,179,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(150,194,255,1) 0%, rgba(104,137,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c2ff', endColorstr='#6889b3', GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #384d6a;
	height: 200px;
	list-style: none;
	padding: 10px;
	margin: 5px;
}
.cadre-ville h3 {
	color: rgba(238,238,238,1);
}
.cadre-ville img {
	height: 180px;
	border-radius: 3px;
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
}
.cadre-ville p {
	text-align: left;
}
.legend {
	position: relative;
	text-align: right;
	font-size: 10px;
}
#liste-villes {
	position: relative;
	max-height: 500px;
	overflow: auto;
}
/* Carousel page villes
-------------------------------------------------- */
#myCarousel {
	width: 500px;
	height: 333px;
	position: relative;
	margin-top: 10px; 
	margin-bottom: 10px; 
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #cfcabe;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcabe", endColorstr="#d2bf91"); /* Pour IE seulement et mode gradient à linear */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cfcabe), to(#d2bf91));
	background-image: -moz-linear-gradient(top center, #cfcabe, #d2bf91);
	background-image: -o-linear-gradient(top, #cfcabe, #d2bf91); /*uniquement en mode linear*/
	-moz-box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
	-webkit-box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
	-o-box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5), 0 -1px 0 rgba( 255, 255, 255, 0.4);
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	-webkit-box-shadow: 0px 20px 8px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 20px 8px rgba(0,0,0,0.35);
	box-shadow: 0px 20px 8px rgba(0,0,0,0.35);
	overflow:hidden;
}
#myCarousel img {
	height: 333px;
}
.carousel-caption {
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding : 5px;
	background-color: rgba(0, 0, 0, 0.75);
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: padding-box;
	background-origin: padding-box;
	background-size: auto auto;
}
.carousel-caption p {
	line-height: 12px;
	font-size: 12px;
}
.carousel-inner {
	text-align: center;
}
.carousel .item > img {
	display: inline-block;
}
.cadre-info-ville {
	max-width: 500px;
	min-height: 20px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: rgba(0,0,0,0.6);
	border-width: 1px;
	border-style: solid;
	border-color: #e3e3e3;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
	overflow: auto;
	text-align: left;
	font-size: 10px;
}
.cadre-info-ville p {
	font-size: 12px;
	line-height: 14px;
}

.page-header h1{
	text-align:left;
}
/* Carte generale
-------------------------------------------------- */
#cartegenerale{
	height:700px;
}

/* Liste ville du même pays
-------------------------------------------------- */
#Autresvilles ul{
	position: relative;
	height: 200Px;
	width: 200px;
	overflow:auto;
	text-align: left;
	margin-left:10px; 
}

#Autresvilles li{
	width: 100px;
	list-style:none; 
	list-style-position:outside;
	margin-top: 4px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	padding:6px 24px;
	text-align:center;
	
}

#Autresvilles li:hover{
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	}


#Autresvilles a{
color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	}
	
#Autresvilles a:active {
	position:relative;
	top:1px;
}
#Autresvilles h4{
	font-size:12px;
	margin-left:10px;
	text-align:left;
	}
/* images communiqués
-------------------------------------------------- */

.insigne {
	width:100px;
	height:100px;
	overflow:hidden;
	}

.Drapeau-communique{
	width:150px;
	height:100px;
	overflow:hidden;
	}
	
/* Commentaires
-------------------------------------------------- */

.commentaire td {
	vertical-align:top;
	}


/* Marketing section of Overview
-------------------------------------------------- */

.marketing {
	text-align: center;
	color: #5a5a5a;
}
.marketing h1 {
	margin: 60px 0 10px;
	font-size: 60px;
	font-weight: 200;
	line-height: 1;
	letter-spacing: -1px;
}
.marketing h2 {
	font-weight: 200;
	margin-bottom: 5px;
}
.marketing p {
	font-size: 16px;
	line-height: 1.5;
}
.marketing .marketing-byline {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: 300;
	line-height: 25px;
	color: #999;
}
.marketing img {
	display: block;
	margin: 0 auto 30px;
}
/* Footer
-------------------------------------------------- */

.footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
.footer p {
	margin-bottom: 0;
	color: #777;
}
.footer-links {
	margin: 10px 0;
}
.footer-links li {
	display: inline;
	margin-right: 10px;
}


/* Popover Styles
-------------------------------------------------- */


.popover-content p, .popover-content ul, .popover-content ol {
	margin-bottom: 0px;
	text-align: left;
}
/* table Styles
-------------------------------------------------- */

.tablehead {
	background: rgba(201,222,150,1);
}
/* Giant download button */
.download-btn {
	margin: 36px 0 108px;
}
#download p, #download h4 {
	max-width: 50%;
	margin: 0 auto;
	color: #999;
	text-align: center;
}
#download h4 {
	margin-bottom: 0;
}
#download p {
	margin-bottom: 18px;
}
.download-btn .btn {
	display: block;
	width: auto;
	padding: 19px 24px;
	margin-bottom: 27px;
	font-size: 30px;
	line-height: 1;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}



/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
	width: 228px;
	margin: 30px 0 0;
	padding: 0;
	background: rgb(57,130,53); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMzk4MjM1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTYlIiBzdG9wLWNvbG9yPSIjOGFiNjZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M5ZGU5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, rgba(57,130,53,1) 0%, rgba(138,182,107,1) 56%, rgba(201,222,150,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(57,130,53,1)), color-stop(56%, rgba(138,182,107,1)), color-stop(100%, rgba(201,222,150,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(57,130,53,1) 0%, rgba(138,182,107,1) 56%, rgba(201,222,150,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(57,130,53,1) 0%, rgba(138,182,107,1) 56%, rgba(201,222,150,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(57,130,53,1) 0%, rgba(138,182,107,1) 56%, rgba(201,222,150,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(57,130,53,1) 0%, rgba(138,182,107,1) 56%, rgba(201,222,150,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#398235', endColorstr='#c9de96', GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	-moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;
	border-radius: 13px;
	border: 1px solid #527848;
	text-align: left;
}
.bs-docs-sidenav > li > a {
	display: block;
 *width: 190px;
	margin: 0 0 -1px;
	padding: 8px 14px;
	color: #fffcff;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 0px 1px #57702e;
}
.bs-docs-sidenav > li > a:active {
	background-color: transparent;
}
.bs-docs-sidenav > li:first-child > a {
	-webkit-border-radius: 13px 13px 0 0;
	-moz-border-radius: 13px 13px 0 0;
	border-radius: 13px 13px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
	-webkit-border-radius: 0 0 13px 13px;
	-moz-border-radius: 0 0 13px 13px;
	border-radius: 0 0 13px 13px;
}
.bs-docs-sidenav > .active > a {
	position: relative;
	z-index: 2;
	text-shadow: 0 1px 0 rgba(0,0,0,.15);
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY4ODliMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5NmMyZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(104,137,179,1) 0%, rgba(150,194,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(104,137,179,1)), color-stop(100%, rgba(150,194,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(104,137,179,1) 0%, rgba(150,194,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(104,137,179,1) 0%, rgba(150,194,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(104,137,179,1) 0%, rgba(150,194,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(104,137,179,1) 0%, rgba(150,194,255,0) 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6889b3', endColorstr='#0096c2ff', GradientType=1 ); /* IE6-8 */
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
	background-image: url(../img/glyphicons-halflings-white.png);
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1 ); /* IE6-8 */
	color: #000000;
	text-shadow: none;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
	opacity: .5;
	background-image: url(../img/glyphicons-halflings-white.png);
}
.bs-docs-sidenav a:active .icon-chevron-right {
	opacity: .5;
	background-image: url(../img/glyphicons-halflings-white.png);
}
.bs-docs-sidenav .active .icon-chevron-right, .bs-docs-sidenav .active a:hover .icon-chevron-right {
	background-image: url(../img/glyphicons-halflings-white.png);
	opacity: 1;
}
.bs-docs-sidenav.affix {
	top: 40px;
}
.bs-docs-sidenav.affix-bottom {
	position: absolute;
	top: auto;
	bottom: 270px;
}
/* BackOffice
-------------------------------------------------- */

.jumbotron.subhead legend {
	color: rgba(238,238,238,1);
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
.bs-docs-container {
	max-width: 970px;
}
.bs-docs-sidenav {
	width: 258px;
}
.navbar .nav > li > a {
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}
body > .navbar .brand {
	display: inline;
}
body > .navbar .brand:hover {
	display: inline;
}

#cartegenerale{
	height:600px;
}

}

/* Desktop
------------------------- */
@media (max-width: 979px) {
/* Unfloat brand */
body > .navbar-fixed-top .brand {
	float: left;
	margin-left: 0;
	padding-left: 10px;
	padding-right: 10px;
}
/* Inline-block quick links for more spacing */
.quick-links li {
	display: inline-block;
	margin: 5px;
}
/* When affixed, space properly */
.bs-docs-sidenav {
	top: 0;
	margin-top: 30px;
	margin-right: 0;
}
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
/* Remove any padding from the body */
body {
	padding-top: 0;
}
/* Adjust sidenav width */
.bs-docs-sidenav {
	width: 166px;
	margin-top: 20px;
}
.bs-docs-sidenav.affix {
	top: 60px;
}
.responsive_navbar {
	display: none;
}
.masthead h1 {
	font-size: 90px;
}
.masthead p, .masthead .btn {
	font-size: 24px;
}

/* Offset nav bar with margin */
.jumbotron {
	padding: 40px 20px;
	margin-top: 40px;
}

.titrecarte{
	margin-top: 40px;
}

#myCarousel {
	width: 360px;
	height: 240px;
}
#myCarousel img {
	height: 235px;
}

#cartegenerale{
	height:700px;
}

}

/* Tablet
------------------------- */
@media (max-width: 767px) {
/* Remove any padding from the body */
body {
	padding-top: 0;
}
/* Widen masthead and social buttons to fill body padding */
.jumbotron {
	padding: 40px 20px;
	margin-top: -20px; /* Offset bottom margin on .navbar */
	margin-right: -20px;
	margin-left: -20px;
}
.masthead h1 {
	font-size: 90px;
}
.masthead p, .masthead .btn {
	font-size: 24px;
}
.marketing .span4 {
	margin-bottom: 40px;
}
.bs-docs-social {
	margin: 0 -20px;
}
/* Space out the show-grid examples */
.show-grid [class*="span"] {
	margin-bottom: 5px;
}
/* Show logo brand*/
body > .navbar .brand {
	display: inline;
}
/* Input Nav bar in correct dimension*/
.responsive_navbar {
	width: auto;
}
.bs-docs-sidenav.affix {
	position: static;
	width: auto;
	top: 0;
}
/* Show inset shadow menu*/
.navbar-inner ul.nav {
	-moz-box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.3);
	-o-box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.3);
	box-shadow: inset 1px 1px 10px 1px rgba(0,0,0,0.3);
filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=10);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	color: #dadada;
	background-color: rgba(255,255,255,0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
}
html > body > div.navbar.navbar-fixed-top > div.navbar-inner > div.container > div.nav-collapse.in.collapse > ul.nav > li.dropdown > ul.dropdown-menu > li > a {
	font-weight: normal;
	color: #dadada;
}
html > body > div.navbar.navbar-fixed-top > div.navbar-inner > div.container > div.nav-collapse.in.collapse > ul.nav > li.dropdown > ul.dropdown-menu > li.nav-header {
	color: #fff;
}
html > body > div.navbar.navbar-fixed-top > div.navbar-inner > div.container > div.nav-collapse.in.collapse > ul.nav > li.dropdown > ul.dropdown-menu > li:hover > a:hover {
	color: #ffffff;
	background-color: #96c2ff;
	background-repeat: repeat-x;
}
/* Dropdown
-------------------------------------------------- */
.dropdown-double {
	width: auto;
	color: rgb(238,238,238);
}
.drop-colonne-gauche {
	float: none;
	width: auto;
	color: rgb(238,238,238);
}
.drop-colonne-droite {
	float: none;
	width: auto;
	left: auto;
	color: rgb(238,238,238);
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li.nav-header {
	width: auto;
	color: rgb(238,238,238);
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li.divider {
	width: auto;
	color: rgb(238,238,238);
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li, ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li > a, ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li > a:hover, ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li > a:active, ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li > a:link, ul.dropdown-menu.dropdown-double > div.drop-colonne-gauche > li > a:visited {
	width: auto;
	color: rgb(238,238,238);
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li.nav-header {
	width: auto;
	color: rgb(238,238,238);
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li.divider {
	width: auto;
	color: rgb(238,238,238);
}
ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li, ul.dropdown-menu.dropdown-double > div.drop-colonne-droitee > li > a, ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li > a:hover, ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li > a:active, ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li > a:link, ul.dropdown-menu.dropdown-double > div.drop-colonne-droite > li > a:visited {
	width: auto;
	color: rgb(238,238,238);
}
/* Keep stat box on the bottom of the menu*/
#Bandeau_stats {
	bottom: 0px;
	margin-bottom: 15px;
}
/* Sidenav */
.bs-docs-sidenav {
	width: auto;
	margin-bottom: 20px;
}
/* <Carousel */
#myCarousel {
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}
#myCarousel img {
	height: auto;
	max-height: 300px;
}
.cadre-info-ville {
	color: rgba(238,238,238,1)
}
.cadre-ville {
	height: auto;
}
.legend {
	top: auto;
}
/* Unfloat the back to top link in footer */
.footer {
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}
.footer p {
	margin-bottom: 9px;
}

#cartegenerale{
	height:900px;
}

#portrait {
	width: 120px;
}

}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
/* Remove padding above jumbotron */
body {
	padding-top: 0;
}
/* Change up some type stuff */
h2 small {
	display: block;
}
/* Downsize the jumbotrons */
.jumbotron h1 {
	font-size: 60px;
}
.jumbotron p, .jumbotron .btn {
	font-size: 20px;
}
.jumbotron .btn {
	display: block;
	margin: 0 auto;
}
/* center align subhead text like the masthead */
.subhead h1, .subhead p {
	text-align: center;
}
/* Marketing on home */
.marketing h1 {
	font-size: 40px;
}
/* center example sites */
.example-sites {
	margin-left: 0;
}
.example-sites > li {
	float: none;
	display: block;
	max-width: 280px;
	margin: 0 auto 18px;
	text-align: center;
}
.example-sites .thumbnail > img {
	max-width: 270px;
}
/* Do our best to make tables work in narrow viewports */
table code {
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
}
/* Modal example */
.modal-example .modal {
	position: relative;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}
.cadre-ville img {
	width: 100%;
}
/* Unfloat the back to top in footer to prevent odd text wrapping */
.footer .pull-right {
	float: none;
}

#portrait {
	width: 80px;
}

}
